
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: cursive;
    overflow-x: hidden;
    color: white;
}
.box {
    margin: 85px;
    background: rgb(238, 233, 233);
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    background-color: lightskyblue;
    padding: 15px;
}
li a{
    text-decoration: none;
    letter-spacing: .5px;
    position: relative;
    color: white;
}
li a:after{
    content: "";
    position: absolute;
    background: orangered;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transform: .3s;
}
a:hover {
    color: orangered;
    font-size: 26px;
}
a:hover::after{
    width: 100%;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
p {
    font-size: 35px;
}